<?xml version="1.0" ?>
<robot name="carrier_c">
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
                 <updateRate>8</updateRate>
            </ros>
        </device>
        <plugin type="webots_ros2_simulations.carrier_robot_driver.CarrierRobotDriver"  webots_robot_name="carrier_c"/>
    </webots>
</robot>