<?xml version="1.0" ?>
<robot name="gantry">
    <webots>
        <device reference="bridge_motor_gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
                 <updateRate>8</updateRate>
            </ros>
        </device>
        <plugin type="webots_ros2_simulations.gantry_robot_driver.GantryRobotDriver"  webots_robot_name="gantry"/>
    </webots>
</robot>